@mixin defineContour($color1, $color2) {
  &.btn--contour {
    box-shadow: 0 0 0 2px $color1;
    color: $color1;
    background-color: transparent;

    &.btn--arrow-down {
      @include arrow-down($color1);
    }

    &.btn--arrow-up {
      @include arrow-up($color2);
    }

    &:hover {
      background-color: $color1;
      color: $color2;

      &.btn--arrow-down {
        @include arrow-down($color2);
      }

      &.btn--arrow-up {
        @include arrow-up($color2);
      }
    }
  }
}

@mixin defineFilled(
  $fillColor,
  $textColor,
  $fillHoverColor,
  $textHoverColor
) {
  &.btn--filled {
    box-shadow: 0 5px 17px 0 rgba($fillColor, .15);
    color: $textColor;
    background-color: $fillColor;

    &.btn--arrow-down {
      @include arrow-down($textColor);
    }

    &.btn--arrow-up {
      @include arrow-up($textColor);
    }

    &:hover {
      background-color: $fillHoverColor;
      box-shadow: 0 5px 17px 0 rgba($fillHoverColor, .15);
      color: $textHoverColor;
    }
  }
}

@mixin defineSize($size) {
  font-size: (7/9) * ($size/2);
  line-height: $size;
  height: $size;
  border-radius: $size/2;
  padding: 0 $size;
  letter-spacing: (1/9) * ($size/2);

  &.btn--arrow-down,
  &.btn--arrow-up {
    padding-right: 1.5 * $size;

    &::before {
      right: $size * .7;
    }
  }
}

.btn {
  display: inline-block;
  font-weight: bolder;
  position: relative;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  transition: .2s ease-in;
  cursor: pointer;
  min-width: 120px;
  @include defineSize(36px);
  text-transform: uppercase;

  &--disabled {
    opacity: .5;
    pointer-events: none;
  }

  &--small {
    @include defineSize(28px);
  }

  &--white {
    @include defineContour(
      $color-white,
      $color-navy
    );
    @include defineFilled(
      $color-white,
      $color-navy, 
      $color-red, 
      $color-white
    );
  }

  &--red {
    @include defineContour(
      $color-red, 
      $color-white
    );
    @include defineFilled(
      $color-red, 
      $color-white, 
      $color-navy, 
      $color-white
    );
  }

  &--navy {
    @include defineContour(
      $color-navy,
      $color-white
    );
    @include defineFilled(
      $color-navy,
      $color-white,
      $color-red,
      $color-white
    );
  }

  &--blue {
    @include defineContour(
      $color-lightblue,
      $color-white
    );
    @include defineFilled(
      $color-lightblue,
      $color-white,
      $color-navy,
      $color-white
    );
  }

  &--fullwidth {
    width: 100%;
  }
}

button.btn {
  border: 0;
}

.cta-on-mobile {
  position: fixed;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);

  .btn {
    @include defineSize(36px);
    width: 220px;
  }
}