.create-task {
  height: 100%;

  &__description {
    padding: 25px;
  }

  &__location {
    padding: 0;
    height: 100%;
  }

  @include media-query-lg-up {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    height: auto;

    &__description,
    &__location {
      width: 50%;
    }

    &__description {
      padding: 25px 40px;
    }

    &__location {
      background-color: $color-grey;
    }

    &__adjustment {
      justify-content: space-between;
    }
  }
}
