#app {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
div {
  box-sizing: border-box;
}

a {
  transition: .2s ease-in;
}
    
.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.page {
  padding-bottom: 120px;

  &__content {
    padding: 0 20px;
  }

  @include media-query-lg-up {
    &__content {
      padding: 0 40px;
    }
  }
}

.instructions {
  font-size: 14px;
  line-height: 22px;
}

.official-info {
  display: flex;
  flex-wrap: wrap;
  max-width: 768px;
  margin: 0 auto;

  .card {
    width: 100%;
  }

  @include media-query-lg-up {
    max-width: unset;
  }

  &__left,
  &__right {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
  }

  &__left {
    width: 66.66%;
    padding-right: 15px;
  }

  &__right {
    width: 33.33%;
    padding-left: 15px;
  }
}

.adjustment-bar {
  width: 100%;
  background-color: $color-lightgrey;
  padding: 15px 30px;
  display: flex;
  align-items: center;

  &__back {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

    i {
      width: 36px;
      height: 12px;
      display: block;
      background-size: auto 100%;
      background-image: url('~@/assets/images/arrow-back.svg');
      background-repeat: no-repeat;
      background-position: left center;
      transition: .2s ease-in;
    }

    span {
      @include label-text-styles;
      margin-left: 8px;
      font-weight: bold;
      color: $color-darkgrey;
    }

    &:hover {
      i {
        transform: translateX(-5px);
      }
    }
  }
}