.page-head {
  padding: 15px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  position: relative;

  &__content {
    width: 100%;

    h1 {
      font-size: 30px;
      line-height: 42px;
      color: $color-navy;
    }
    
    p {
      font-size: 12px;
      line-height: 20px;
      color: $color-darkgrey;
      transition: .4s ease;
      opacity: 1;
    }

    a {
      color: $color-navy;
      font-weight: bold;
    }

    &--collapsed {
      p {
        opacity: 0;
        color: transparent;
        height: 0;
      }
    }
  }

  &__buttons {
    position: relative;
    min-width: 30px;
    margin-top: 15px;
    width: 100%;
  }

  &__expander {
    @include circle-shaped(18px);
    border: 2px solid $color-lightblue;
    line-height: 18px;
    text-align: center;
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;

    i {
      @include arrow-up($color-lightblue);

      &::before {
        transform: translate(-50%, -60%);
      }
    }

    &--inversed {
      transform: rotate(180deg);
    }
  }

  @include media-query-sm-up {
    &__buttons,
    &__content {
      width: auto;
    }
  }

  @include media-query-lg-up {
    padding: 20px 40px;

    &__content {
      h1 {
        font-size: 42px;
        line-height: 60px;
      }
            
      p {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}