.side {
  background-color: $color-navy;
}

.side-menu {
  padding: 25px;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    line-height: 40px;
    width: 50%;
    text-align: center;
    border-top: 1px solid $color-lightblue;
    position: relative;

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: $color-white;
      font-size: 12px;
      font-weight: bold;
    }

    &:nth-of-type(2n + 1)::before {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 8px;
      bottom: 8px;
      width: 1px;
      background-color: $color-lightblue;
    }

    &:nth-of-type(3),
    &:nth-of-type(4) {
      border-bottom: 1px solid $color-lightblue;
    }
  }
}

.app-logo {
  display: block;
  margin: 30px auto;
  text-align: center;

  img {
    display: inline;
  }
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  &__name {
    color: $color-white;
    display: flex;
    flex-direction: column;
    font-size: 12px;

    strong {
      font-size: 1.5em;
      font-weight: bold;
    }
  }
  
  &__avatar {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    display: block;
    border-radius: 50%;
    background-color: $color-white;
    background-position: center;
    background-size: cover;
  }
}
