.top-bar {
  height: $topbar-height;
  text-align: center;
  width: 100vw;
  background-color: lighten($color-navy, 10%);
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  &__menu-btn {
    cursor: pointer;
    width: $menu-btn-size;
    height: $menu-btn-size;
    text-align: center;
    font-size: 40px;
    color: $color-white;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);

    i {
      line-height: $menu-btn-size;
    }
  }
}
