@import '~reset-css';

@import 'media-queries';
@import 'fonts';


$color-white: #fff;
$color-lightgrey: #E8E8E8;
$color-grey: #CBCBCB;
$color-darkgrey: #535C52;
$color-black: #000;

$color-navy: #302B5C;
$color-lightblue: #95B7DF;
$color-red: #CC5B54;
$color-salmon: #ECA58D;

$topbar-height: 70px;
$menu-btn-size: 40px;
$sidebar-width: 300px;

@import "_mixins";
@import "_global";
@import "_layout";
@import "_margins";

@import "_bottom";
@import "_buttons";
@import "_card";
@import "_create-task";
@import "_ways-to-help";
@import "_main-menu";
@import "_map";
@import "_page-head";
@import "_popover";
@import "_popover-create";
@import "_side";
@import "_switch-control";
@import "_tab-menu";
@import "_top-bar";
