@import '~reset-css';

@import 'media-queries';
@import 'fonts';


$color-white: #fff;
$color-navy: #302B5C;
$color-lightblue: #95B7DF;

$topbar-height: 70px;
$menu-btn-size: 40px;
$sidebar-width: 300px;

@import "_layout";
@import "_map";
@import "_bottom";
@import "_side";
@import "_top-bar";
