@import '~reset-css';

@import 'media-queries';
@import 'icon-font';


$color-white: #fff;
$color-navy: #302B5C;

$topbar-height: 4rem;
$menu-btn-size: 3rem;
$sidebar-width: 300px;

@import "_layout";
@import "_map";
@import "_bottom";
@import "_side";
@import "_top-bar";