@import '~reset-css';
@import 'media-queries';


$color-white: #fff;
$color-navy: #302B5C;

$topbar-height: 84px;

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
}
.app__main {
  flex: 1 1 100%;
}
.app__side {
  flex: 0 0 300px;
  background-color: $color-navy;
  height: calc(100vh - $topbar-height);

  @include media-query-lg-up {
    height: 100vh;
  }
}